body {
  margin: 0;
  background: linear-gradient(rgb(167, 202, 255), rgb(147, 233, 255));
  padding-bottom: 50px;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  margin: 50px 0px 35px 0px;
}
/*蹂몃Ц 援ъ“---------------------------------------*/
#grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 1220px;
  margin: 0 auto;
}
#LoginLocation {
  margin-left: 32px;
}
#others {
  margin: 22px 40px 12px 30px;
}
.block {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
  margin-top: 10px;
}
.GridInBlock {
  display: grid;
  padding: 80px 36px 75px 15px;
  grid-template-columns: 180px 1fr 1fr;
}
.Contents {
  padding: 10px 0px 0px 32px;
}
/*Login & Location--------------------------------*/
#LoginLocation h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 19px 0px 10px 5px;
}
input[type="text"],
#LoginLocation button {
  height: 34px;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
}
input[type="text"] {
  width: 200px;
  padding: 0px 0px 0px 10px;
  background-color: rgb(255, 255, 255, 0.6);
}
#LoginLocation button {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  font-weight: bolder;
  color: rgb(30, 30, 30);
  cursor: pointer;
}
#LoginLocation button:hover {
  background-color: rgba(250, 250, 250, 0.7);
}
#loginButton,
#buttonGrid {
  width: 210px;
  margin: 8px 0px 8px 0px;
}
#buttonGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#updateLocation {
  margin-right: 8px;
}
/* Others --------------------------------------*/
.index {
  font-weight: bolder;
  text-align: center;
}
/* �꾩옱�좎뵪 -------------------------------------- */
#currentTempValue {
  font-size: 80px;
  padding: 10px 10px 10px 35px;
}
.tempUnit {
  font-size: 20px;
}
#pm {
  padding-left: 30px;
}
#currentPmState {
  font-size: 65px;
  padding: 10px 10px 10px 0px;
}
#currentPmValue {
  margin-top: 19px;
  padding-left: 18px;
  font-size: 15px;
}
/* �⑤룄�됱긽 -------------------------------------- */
input[type="range"] {
  appearance: none;
  margin: 23px 0px 12px 10px;
  width: 180px;
  height: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  border-radius: 10px;
  height: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: 3px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  background-color: transparent;
  border-color: white;
  cursor: pointer;
}
#currentTemp::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgb(60, 60, 255), rgb(255, 73, 73));
}
/* �⑤룄 �ㅼ젙 --------------------------------------*/
/* �됱긽 ----*/
input[type="color"] {
  width: 31px;
  height: 31px;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
}
input[type="color"]:hover,
input[type="color"]:focus {
  background-color: rgba(190, 190, 190, 0.5);
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
/* �レ옄 ----*/
input[type="number"] {
  width: 36px;
  height: 27px;
  font-size: 15px;
  border: 1px solid lightgray;
  padding-left: 10px;
  background-color: white;
  margin: 20px 5px 5px 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
/* �ㅻ쪟 硫붿떆吏� */
#error-message {
  color: red;
  font-size: 13px;
  visibility: hidden;
  padding: 3px 0px 0px 40px;
  height: 16px;
}
/* 踰꾪듉 ----*/
#settingButton {
  padding: 15px 0px 0px 112px;
}
#settingButton button {
  cursor: pointer;
  height: 25px;
}
/* 誘몃㉫ �ㅼ젙 --------------------------------------*/
#mask {
  padding-top: 4px;
}
/* 紐⑤컮�쇳솕硫� --------------------------------*/
@media (max-width: 768px) {
  #grid {
    display: block;
    width: 100%;
  }
  #LoginLocation {
    margin: 0px 15px 0px 15px;
  }
  #others {
    margin: 22px 15px 12px 15px;
  }
  .GridInBlock {
    display: block;
    margin: 45px 0px 53px 0px;
  }
  .index {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .Contents {
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .text-container {
    padding-right: 10px;
  }
  input[type="text"],
  #loginButton,
  #buttonGrid {
    width: 100%;
  }
  input[type="text"],
  #LoginLocation button {
    height: 48px;
  }
  input[type="range"] {
    margin-bottom: 23px;
  }
  #settingButton {
    padding-left: 110px;
  }
  #pm {
    width: 90px;
    padding-left: 0px;
    margin: 0 auto;
  }
  #currentPmState {
    padding: 10px 0px 10px 0px;
  }
  #currentPmValue {
    padding-left: 18px;
  }
  #Settings {
    padding-top: 38px;
  }
}

/* 미세먼지 슬라이더 스타일 */
#currentPm::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgb(0, 255, 0), rgb(255, 0, 0));
}

/* 미세먼지 값 스타일 */
#currentPmValue {
  font-size: 80px;
  padding: 10px 10px 10px 35px;
}

.pmUnit {
  font-size: 20px;
}

/* 모바일 화면에서의 미세먼지 스타일 */
@media (max-width: 768px) {
  #currentPmValue {
    padding-left: 0px;
  }
}
